<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/homepage.css">
</head>

<body>
    <div class="wrapper">

        <!-- Navbar -->
        <nav>
            <div>
                <div class="logo">Inventify</div>
                <div class="navlinks">
                    <div>
                        <a href="./homepage">Home</a>
                    </div>
                    <div>
                        <a href="./aboutus">About Us</a>
                    </div>
                    <div style="border-bottom: 3px solid white;">
                        <a href="./contactus" style="color: white;">Contact Us</a>
                    </div>
                    <div>
                        <a href="./blog">Blog</a>
                    </div>
                </div>
                <div class="auth_buttons">
                    <button class="login">
                        <a href="./login" style="all: unset;">Login</a>
                    </button>
                    <button class="signup">
                        <a href="./signup" style="all: unset;">SignUp</a>
                    </button>
                </div>
            </div>
        </nav>

        <!-- Home Page -->
    </div>
</body>

</html>