<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/homepage.css">
</head>

<body>
    <div class="wrapper">
        <!-- Navbar -->
        <nav>
            <div>
                <div class="logo">Inventify</div>
                <div class="navlinks">
                    <div style="border-bottom: 3px solid white;">
                        <a href="./homepage" style="color: white;">Home</a>
                    </div>
                    <div>
                        <a href="./aboutus">About Us</a>
                    </div>
                    <div>
                        <a href="./contactus">Contact Us</a>
                    </div>
                    <div>
                        <a href="./blog">Blog</a>
                    </div>
                </div>
                <div class="auth_buttons">
                    <button class="login">
                        <a href="./login" style="all: unset;">Login</a>
                    </button>
                    <button class="signup">
                        <a href="./signup" style="all: unset;">SignUp</a>
                    </button>
                </div>
            </div>
        </nav>

        <!-- Home Page -->
        <div class="landing_container">
            <div class="left">
                <h1>Your Rx for Inventory Success - Inventify's Medicines Solution</h1>
                <div class="bar"></div>
                <p class="description">The all-in-one solution to streamline your inventory, boost efficiency, and drive
                    growth</p>
                <button class="try_now">
                    <a href="./login" style="text-decoration: none; color: white; cursor: pointer;">Try it Now</a>
                </button>
            </div>
            <div class="right">
                <img src="../images/checking_boxes.png" alt="">
            </div>
        </div>

        <!-- light_blue + dark_blue containers  -->
        <div class="dark-blue_container">
            <div class="blue_container">
                <div class="product_features">
                    <div class="inventory_control">
                        <div>
                            <img src="../images/inventory-management.png" width="60px" height="60px" alt=""
                                class="feature_img">
                        </div>
                        <div class="feature">Inventory Control</div>
                    </div>
                    <div class="stock_alerts">
                        <div>
                            <img src="../images/attention.png" width="60px" height="60px" alt="" class="feature_img">
                        </div>
                        <div class="feature">Stock Alerts</div>
                    </div>
                    <div class="order_management">
                        <div>
                            <img src="../images/cargo.png" width="60px" height="60px" alt="" class="feature_img">
                        </div>
                        <div class="feature">Order Coordination</div>
                    </div>
                    <div class="reports">
                        <div>
                            <img src="../images/report.png" idth="60px" height="60px" alt="" class="feature_img">
                        </div>
                        <div class="feature">Precision reporting</div>
                    </div>
                </div>
            </div>
            <div class="free_signup_container">
                <p>Ready to transform your inventory management? </p>
                <p>Sign up for a free trial or schedule a personalized demo today.</p>
                <div class="button_containers">
                    <button class="try_now_light">Sign Up</button>
                    <button class="try_demo">Try Demo</button>
                </div>
            </div>
            <img src="../images/shelf.png" alt="" class="star">

        </div>

        <!-- Product feature with gif -->
        <div class="product_features_2">
            <div class="inventory_gif_container">
                <img src="../images/inventory_gif.gif" alt="">
            </div>
            <div class="more_product_features">
                <div class="" style="width: 550px; display: flex; gap: 15px; align-items: center;">
                    <div class="feature">
                        <div class="circle">1</div>
                    </div>
                    <div class="product_feature_description">
                        Monitor your stock levels, sales, and purchases in real-time.
                    </div>
                </div>
                <div class="dashed_line">
                    |
                    |
                    |
                </div>
                <div class="" style="width: 550px; display: flex; gap: 15px; align-items: center;">
                    <div class="feature">
                        <div class="circle">2</div>
                    </div>
                    <div class="product_feature_description">
                        Easily create, track, and manage orders with just a few clicks.
                    </div>
                </div>
                <div class="dashed_line">
                    |
                    |
                    |
                </div>
                <div class="" style="width: 550px; display: flex; gap: 15px; align-items: center;">
                    <div class="feature">
                        <div class="circle">3</div>
                    </div>
                    <div class="product_feature_description">
                        Minimize stockouts and overstocking, saving you time and money.
                    </div>
                </div>
                <div class="dashed_line">
                    |
                    |
                    |
                </div>
                <div class="" style="width: 550px; display: flex; gap: 15px; align-items: center;">
                    <div class="feature">
                        <div class="circle">4</div>
                    </div>
                    <div class="product_feature_description">
                        Generate precise and insightful reports for informed decision-making.
                    </div>
                </div>
            </div>
        </div>

        <!-- footer -->
        <footer>
            <div class="nav_container">
                <div class="logo_container">
                    <h1>Inventify</h1>
                    <p>Where Medicine and Management Converge.</p>
                </div>
                <div class="menu">
                    <h3>MENU</h3>
                    <ol>
                        <li>
                            <a href="../visitors/homepage">Home</a>
                        </li>
                        <li>
                            <a href="../visitors/aboutus">About Us</a>
                        </li>
                        <li>
                            <a href="../visitors/contactus">Contact Us</a>
                        </li>
                    </ol>
                </div>
                <div class="company">
                    <h3>COMPANY</h3>
                    <ol>
                        <li>Customer Service</li>
                        <li>Terms of Use</li>
                        <li>Privacy</li>
                    </ol>
                </div>
                <div class="get_in_touch">
                    <h3>GET IN TOUCH</h3>
                    <div>
                        <p>Email - </p>
                        <p>inventify_support@gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="bar_container"></div>
            <div class="copyright_container">
                Copyright © 2023 Inventify Technologies Pvt Ltd. All rights reserved
            </div>
        </footer>

    </div>
</body>

</html>